body{
    background-image:url(Netflix.jpeg);
    background-color:white;
    margin:0;
 }
 .container{
    background: rgba(0, 0, 0, 0.7);;
    height: 100vh;
    margin:0px;
 }

 #navbar{
    height: 20%;
    display: flex;
 }
 
 #image{
    width: 40%;
    display: flex;
    justify-content: center;
    padding:30px;
}
div{
    display: block;
}
#button{
    padding:30px;
    width: 60%;
    text-align: right;
}

#sign1,#sign{
    background-color: red;
    color: white;
    font-size: 15px;
    padding: 8px 14px;
    border:0px;
    border-radius: 5px;
    font-weight: bold;

}
#sign1{
    margin-right: 12px;
}

#all{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: 80%;
}
h1{
    font-size: 55px;
    margin:0px;
    display: block;
    font-weight: bold;
}
#p1{
    font-size: 28px;
}
#p2{
    font-size: 23px;
}

p{
    margin: 13px;
}